<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Proxi-Error.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/Logo.webp')}}" type="image/x-icon">
    <title>{{ NW }} - Jz Web Oficial</title>
</head>

<body>
    <section class="ContenidoMenu">
        <nav class="Menu">
            <img src="{{ url_for('static', filename='Img/Logo.webp')}}" alt="Logo De La Web">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/codigoabierto">Código Abierto</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/proyectosdepago">Proyectos de pagó</a></li>
                <li><a href="/proximamente">Más Información</a></li>
            </ul>
        </nav>
    </section>

    <div class="Bar"></div>
    
    <Main>
        {% block content %}
        <!--
            Contenido se mostrara en este block 
        -->
        {% endblock %}
    </Main>

    <div class="Bar2"></div>

    <footer class="footer">
        <section class="Informacion">
            
            <p>
                <img src="{{ url_for('static', filename='Img/Logofooter.png')}}" alt="" width="30px" height="30px" class="Logito">    Esta página web ha sido diseñada con el propósito de almacenar y presentar los resultados de nuestra empresa.
            </p>
            <p>De esta manera, facilitamos a nuestros clientes potenciales la posibilidad de contratarnos o solicitar información sobre nuestros programas y servicios.</p>
        </section>
        <section class="Contacto">
            <div class="Info">
                <span>Redes sociales</span>
                <a href="">Git Hub</a>
                <a href="">Empresa</a>
            </div>
            <div class="Info">
                <span>Personal</span>
                <a href="">Nioy</a>
                <a href="">Ezxquiel</a>
            </div>
            

            <div class="Proxi">
                <a>Próximamente</a>
            </div>
        </section>
    </footer>
</body>

</html>