<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/Logo.webp')}}" type="image/x-icon">
    <title>{{ NW }} - Jz Web Oficial</title>
</head>

<body>
    <section class="ContenidoMenu">
        <nav class="Menu">
            <img src="{{ url_for('static', filename='Img/Logo.webp')}}" alt="Logo De La Web">
            <ul>
                <li><a href="">Código Abierto</a></li>
                <li><a href="">Proyectos</a></li>
                <li><a href="">Proyectos de pagó</a></li>
                <li><a href="">Más Información</a></li>
            </ul>
        </nav>
    </section>
    
    <Main>
        {% block content %}
        <!--
            Contenido se mostrara en este block 
        -->
        {% endblock %}
    </Main>
</body>

</html>